.splash-img {
    height: 346px;
    width: 100%;
    margin: 0 auto;
    background-size: cover;

}

.scroll-arrow {
    border-radius: 50%;
    height: 49px;
    width: 100%;
    max-width: 55px;
    background-color: gray;
    margin: 0 auto;
}

.splash a{
  height: 49px;
  width: 49px;
  display: block;
  margin:0 auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.splash{
  height: 100vh;
  background-color: #000000;
  padding-top: 80px;
  position: relative;
}
