.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
  height: 83px;
  position: fixed;

  width: 100vw;
  z-index: 400;
  max-width: 400px;
}

img {
  width: 148.5px;
  height: 33px;
  margin-top: 6px;
}

.header a {
  width: 67px;
  height: 21px;
  font-size: 18px;
  outline: none;
  text-decoration: none;
  color: white;

  margin: 0px 18px 0;

  text-align: center;
}

a:hover {
  color: #d15419;
}
