.contact{
    color: rgb(255, 255, 255);
    background-image: url(https://i.imgur.com/SHFLjyX.png);
    /* width:375pt;
    height: 670pt; */
    background-repeat: repeat-y;
    background-size: cover;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.address{
  margin-bottom: 60px;
  margin-top:40px;
}
.street{
    font-size: 14pt;
    color: rgb(255, 255, 255);
    /* font-family: 'San Francisco'; */
    text-align: center;
    padding: 0 40px;

}
.located {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    /* font-family: 'San Francisco'; */
    margin: 0 auto;

    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.hours {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    /* font-family: 'San Francisco'; */
    margin:0 auto;
    padding: 0;
}

.phone {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    /* font-family: 'San Francisco'; */
    padding: 0;
}

.phone span > a {
  margin: 0 0;
}
.googleMap {
/* margin:0;
width: 375pt;
height: 335pt; */

}

.googleMap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.map{
  margin:40px auto;
  /*
  width: 100%;
  max-width: 375px; */
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.hoursPhone{
  width: 100%;
}

.hoursPhone p{
  text-align: center;
  font-size: 1em;
}
