.menu-section-container {
    width: 226;
    height: 894;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-head {
    /* width: 226;
    height: 894; */
    display: flex;
    justify-content: baseline;
    font-family: "SFProText";
    font-size: 15;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0;
    color: white;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    justify-items: self-end;
    align-self: flex-start;
    /* width: 226;
    height: 894; */
    font-family: "SFProText";
    font-size: 15;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    color: white;
}

.item-description {
    flex-flow: wrap;
}

.price {
    justify-content: right;
}

.main-banner {
    background-image: url("../assets/main-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 3rem;
    width: 100%;
    height: 10vh;
}

.appetizer-banner {
    background-image: url("../assets/appetizer-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 3rem;
    width: 100%;
    height: 10vh;
}

.dessert-banner {
    background-image: url("../assets/dessert-banner.jpg");
    background-color: black;
    opacity: .7;
    background-size: 100% 100%;
    text-align: left;
    font-size: 3rem;
    width: 100%;
    height: 10vh;
}

.drink-banner {
    background-image: url("../assets/drink-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 3rem;
    width: 100%;
    height: 10vh;
}
