#menu{
  margin-bottom:40px;
}

.menu-section-container {
    /* width: 100vh; This should be "vw for width of viewport*/
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;
    margin-bottom: 2%;
}
.content{
  flex: 4;
  margin: 0;
}
.menu-head {
    text-align: left;
    /* width: 226;
    height: 894; */
    font-family: "SFProText";
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    color: white;
    padding: 2% 10% 2% 2%;
}

.menu-item {
    display: flex;
    text-align: left;
    font-family: "SFProText";
    /* font-size: 15;
    font-weight: 300;
    font-style: normal; */
    letter-spacing: 0;
    color: white;
    margin: 2%;
}

/* Menu Categories (Dropdowns)
----------------------------------*/
.menu-cat{
  padding-left: 20px;
  font-weight: 600;
  text-shadow: 2px 3px 2px #00000087;
}
/* .menu-cat span{
  font-weight: 600;
  text-shadow: 2px 3px 2px #00000087;
} Adding Spans disabled the onclick event*/

.item-description {
    text-align: left;
    display: flex;
    flex-flow: wrap;
}

.price {
    font-family: "SFProText";
    font-size: 1.5rem;
    text-align: right;
    /* flex: 2; */
    font-weight: 600;
}

.main-banner {
    background-image: url("../assets/main-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 2rem;
    width: 100vw;
    height: 10vh;
}

.appetizer-banner {
    background-image: url("../assets/appetizer-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 2rem;
    width: 100vw;
    height: 10vh;
}

.dessert-banner {
    background-image: url("../assets/dessert-banner.jpg");
    background-color: black;
    opacity: .7;
    background-size: 100% 100%;
    text-align: left;
    font-size: 2rem;
    width: 100vw;
    height: 10vh;
}

.drink-banner {
    background-image: url("../assets/drink-banner.jpg");
    background-size: 100% 100%;
    background-color: black;
    opacity: .7;
    text-align: left;
    font-size: 2rem;
    width: 100vw;
    height: 10vh;
}
