/* Smooth ALL Fonts out
--------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography
--------------------*/

h1, h2, h3, h4, h5, div{
  font-family: 'Noto Sans', sans-serif;
}

p, span, a {
  font-family: 'Source Sans Pro', sans-serif;
}



.App {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  align-content: center;
  padding: 0;
  background-image: url("./assets/background.png");
  color: white;
}

h1 {
  font-family: "SFProText-Heavy";
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -1.54;
  color: #ffffff;
  padding-left: 5%;
  margin-bottom: 2%;
}

/* #menu{
  height: 100vh;
} */


/* I didn't get, why you are using logo styles and header styles in App componrnt. I missed last class. Maybe I do not understand everything right.  */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
