.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
  height: 87px;
  width: 100%;
  padding-top: 8px;
}

.logos {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}
.logos-container {
  display: flex;
  padding: 0 17px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
p {
  margin: 0;
  font-size: 13px;
  padding-left: 9px;
}
